.faq-container {
  @include outer-container;
}

.faq-header {
  @include span-columns(12);
  @include omega();
  border: solid 1px;
  text-align: center;
  font-size: 40px; 
}

.faq-body {
  @include span-columns(12);
  border: solid 1px;
}

.faq-sidebar {
  @include span-columns(3);
  border: solid 1px;
}

.faq-cards {
  @include span-columns(9);
  @include display(flex);
  @include flex-direction(row);
  @include flex-flow(row wrap);
  @include justify-content(flex-start);
  border: solid 1px;
}

.faq-card {
  border: solid 1px;
  width: 200px;
  height: 40px;
}

