.faq-container {
  @include outer-container;
}

.faq-header {
  @include span-columns(12);
  @include omega();
  border: solid 1px;
  text-align: center;
  font-size: 40px; 
}

.faq-body {
  @include span-columns(12);
  border: solid 1px;
}

.faq-sidebar {
  @include span-columns(3);
  border: solid 1px;
}

.faq-cards {
  @include span-columns(9);
  @include omega();
  @include display(flex);
  @include flex-direction(row);
  @include flex-flow(row wrap);
  @include justify-content(flex-start);
  border: solid 1px;
}

.faq-card {
  border: solid 1px;
  width: 200px;
  height: 40px;
}

.faq-new-card-button {
  margin-top: 10px;
  width: 300px;
}


/*
// FIXME - all of this new card modal stuff isn't currently used
.faq-new-card-modal-background {
  @include span-columns(12);
}

.faq-new-card-modal + .faq-new-card-form-visible {
  background-color: black;
}

.faq-new-card-form:hover {
}

.faq-new-card-form {
  @include span-columns(3);
  @include border-top-radius(10px);
  @include border-bottom-radius(10px);
  @include border-left-radius(10px);
  @include border-right-radius(10px);
  margin-top: 50px;
  padding: 20px;
  border: solid 1px;
}


.faq-new-card-form-visible {
  @include transition (opacity 1.0s ease-in-out);
  background-color: rgba(#000, 0.25);
  z-index: 1000;
  //opacity: 1;
  position: fixed;
  left: 50%;
  top: 50%;
}

.faq-new-card-form-invisible {
  opacity: 0;
}
*/
